@import "tailwindcss";

@theme {
    --color-secondary-400: #53BA46;
    --color-primary-100: #F0F0F0;
    --color-primary-400: #818181;
    --drop-shadow-bold: 0 5px 0 rgba(61, 128, 59, 1);
    --drop-shadow-regular: 0 5px 0 rgba(202, 202, 202, 1);
}
