@import "tailwindcss";

@theme {
    --color-secondary-300: #7BB65C;
    --color-secondary-400: #53BA46;
    --color-secondary-450: #6AA54B;
    --color-secondary-500: #69AA44;
    --color-secondary-600: #3A6722;
    --color-secondary-700: #D9A653;
    --color-primary-100: #F0F0F0;
    --color-primary-400: #818181;
    --drop-shadow-bold: 0 5px 0 rgba(61, 128, 59, 1);
    --drop-shadow-regular: 0 5px 0 rgba(202, 202, 202, 1);
    --drop-shadow-evolve: 0 5px 0 rgba(185, 134, 24, 1);
}